@use "@/styles/main.scss" as *;
@use "@/styles/mixins" as *;

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include respond("lg") {
      flex-direction: row;
    }
  }
}

#products {
  scroll-behavior: smooth;
}
