@use "@/styles/main.scss" as *;
@use "@/styles/mixins.scss" as *;

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;

  @include respond("lg") {
    flex-direction: row;
  }
}
