@use "@/styles/main.scss" as *;
@use "@/styles/mixins.scss" as *;

.product {
  position: relative;
  width: 360px;
  height: 150px;
  border-radius: 32px;
  padding: 15px;

  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.08);
  background: no-repeat center / cover;
  font-weight: 700;
  font-size: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);

  z-index: 0;

  @include respond("md") {
    width: 650px;
    height: 200px;
  }

  @include respond("lg") {
    width: 380px;
    height: 324px;
  }

  @include respond("xl") {
    width: 460px;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
    border-radius: 32px;
  }
}
